<div class="searx-navbar">{{- "" -}}
    <span class="instance {% if rtl %}pull-right{% else %}pull-left{% endif%}">{{- "" -}}
        <a href="{{ url_for('index') }}">{{ instance_name }}</a>{{- "" -}}
    </span>{{- "" -}}
    <span class="{% if rtl %}pull-left{% else %}pull-right{% endif %}">{{- "" -}}
        <a href="https://www.informatica-libera.net/content/ricerca-alternativa-motore-di-ricerca">Info</a>{{- "" -}}
        <a href="https://www.informatica-libera.net/content/contacts">Contatti</a>{{- "" -}}
    </span>{{- "" -}}
</div>
